/* Base Application Styles */
 body{
  
    margin:0;
    padding:0;
 }
 hr {
	margin-top:0px;
	margin-bottom:15px;
}

a:hover {
	text-decoration: none;
}
 .article {
 	height:200px;
 	width:60%;
 	margin:0 auto;
 }
 .article h2 {
 	text-align: center;
 }

 .article p {
    position:relative;
    line-height:1.5em;
    height:4.5em;
    overflow:hidden;
}
 .article p:after {
    content:"...";
    position:absolute;
    bottom:0;
    right:0;
    padding: 0 5px;
}

.resume .header{
    
    max-width:700px;  

    margin: 0 auto;
    background-color: powderblue;
}
.header .person {
    box-sizing:border-box;
    min-height:500px;
    width: 40%;
    float:left;
    background-color: gray;
}
.person img {
    border-radius: 50% ;
    width:40%;
    overflow:hidden;
    margin-left:30%;
    margin-top:15%;

}
.header .aboutme {
    box-sizing: border-box;
    min-height: 500px;
    width: 60%;
    float: left;
    background-color: #fff;
    border-top:1px solid #ccc;
    border-right: 1px solid #ccc;
}
.skills h2,.aboutme h2 {
    display:block;
    width:40%;
    margin:0 auto;
    margin-top:20px;
    margin-bottom:10px;
    text-align:center;
}

    h2:hover{
    border-bottom: 3px solid rgb(29, 157, 116);
}
.resume .skills {
  
    max-width:700px;
    margin: 0 auto;
    background-color:#eee;
}
.person .icon-bars {
    margin:0 auto;
    width:50%;
    text-align:center;
}

.icon-bars i {
    font-size:1.5em;
    padding:4px;
    color:powderblue;
}
.icon-bars i:hover {
    -webkit-animation-name: slowdown;
    -webkit-animation-duration: 500ms;
    animation-name: slowdown;
    animation-duration: 500ms; 
    font-size:2em;
    color:white;
}
/*keyframs of hover animation */
@keyframes slowdown {
    from {
        color: powderblue;
        font-size: 1.5em;
    }
    to {
        color:white;
        font-size: 2em;
    }
}
.skills ul li, .aboutme ul li{
    word-wrap: break-word;
    overflow:hidden;
    font-family: Microsoft YaHei;
    padding: 8px;
   list-style:none;
}
.skills ul li:hover, .aboutme li:hover {
    color:white;
    background-color:rgb(29, 157, 116);
    border-radius:3px;
}
.skills li {
   margin:8px;
   
}
.skills ul {
    padding-left:0px;
}
